<div class="panel clearfix">

  <div id="homepage_content">

    <p class="intro">Documenting the historical links between <strong>people</strong> and <strong>places</strong>,<br />as recorded by commemorative <strong>plaques</strong>.</p>

    <ul id="homepage_modules">
      <li>
        <h2>Explore</h2>
        <p>Browse the <%= @plaques_count %> plaques by <%= link_to "person", people_path %>, <%= link_to "location", countries_path %> or <%= link_to "search", search_path %>.</p>
      </li>
      <li>
        <h2>Contribute</h2>
        <p>Spotted a plaque? Help us by <%= link_to "adding it", new_plaque_path %> to the site.</p>
      </li>
      <li>
        <h2>News</h2>
        <p>Subscribe to <a href="http://blog.openplaques.org">our blog</a> and follow us on <a href="http://www.twitter.com/openplaques">Twitter</a> for updates.</p>
      </li>
    </ul>

  </div>

  <ol id="recent_photographed_plaques">
  <li class="first option_one">
    <a href="#">
      <img src="http://farm6.static.flickr.com/5110/5756124713_cd8e53d66f_m.jpg" width="200" alt="Plaque inscription" />
      <div class="info">
        <p>William Lilly (1602 - 1681) Master Astrologer Lived in a house on this site</p>
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://farm6.static.flickr.com/5110/5756124713_cd8e53d66f_m.jpg" width="200" alt="Plaque inscription" />
      <div class="info">
        <p>William Lilly (1602 - 1681) Master Astrologer Lived in a house on this site</p>
      </div>
    </a>
  </li>
  <li class="option_two">
    <a href="#">
      <img src="http://farm6.static.flickr.com/5110/5756124713_cd8e53d66f_m.jpg" width="200" alt="Plaque inscription" />
      <div class="info">
        <p>William Lilly (1602 - 1681) Master Astrologer Lived in a house on this site</p>
      </div>
    </a>
  </li>
  <li class="last option_two">
    <a href="#">
      <img src="http://farm6.static.flickr.com/5110/5756124713_cd8e53d66f_m.jpg" width="200" alt="Plaque inscription" />
      <div class="info">
        <p>William Lilly (1602 - 1681) Master Astrologer Lived in a house on this site</p>
      </div>
    </a>
  </li>
  </ol>

</div>