
<div class="panel clearfix">
	<p class="intro">Documenting the historical links between <strong>people</strong> and <strong>places</strong>, as recorded by commemorative <strong>plaques</strong>.</p>
	
	<h2>Explore</h2>
	<p>Browse the <%= @plaques_count %> plaques by <%= link_to "person", people_path %>, <%= link_to "location", countries_path %> or <%= link_to "search", search_path %>.</p>
	
	<h2>Contribute</h2>
	<p>Spotted a plaque? Help us by <%= link_to "adding it", new_plaque_path %> to the site.</p>
	
	<h2>News</h2>
	<p>Subscribe to our blog and follow us on Twitter for updates.</p>
		
</div>