<% content_for :page_title, "Open Plaques - linking historical people and places" %>
<div class="panel clearfix">

  <div id="homepage_content">

    <p class="intro">Documenting the historical links between <strong>people</strong> and <strong>places</strong>, as recorded by commemorative <strong>plaques</strong>.</p>

    <ul id="homepage_modules">
      <li>
        <h2><%=t :explore %></h2>
        <p>Browse the <%= @plaques_count %> plaques by <%= link_to "person", people_path %>, <%= link_to "location", countries_path %> or <%= link_to "search", search_path %>.</p>
      </li>
      <li>
        <h2><%=t :contribute %></h2>
        <p>Spotted a plaque? Help us by <%= link_to "adding it", new_plaque_path %> to the site.</p>
      </li>
      <li>
        <h2><%=t :news %></h2>
        <p>Subscribe to <a href="http://blog.openplaques.org">our blog</a> and follow us on <a href="http://www.twitter.com/openplaques">Twitter</a> for updates.</p>
      </li>
      <% if @todays %>
      <li id="plaque_of_the_day">
        <h2><%=t :plaque_of_the_day %></h2>
        <div>
          <div class="thumb">
        <%= link_to thumbnail_img(@todays.plaque), @todays.plaque %>
        </div>
        <div><%= link_to @todays.plaque.title, @todays.plaque %><br/>"<%= @todays.description %>" - <%= @todays.proposer %></div>
      </div>
      </li>
      <% end %>
    </ul>

  </div>

  <ol id="recent_photographed_plaques">
  <% @recent_plaques.each do |plaque| %>
  <li class="first option_one">
    <%= link_to plaque_path(plaque) do %>
      <img src="<%= plaque.photos.first.file_url %>" width="200" alt="Plaque inscription" />
      <div class="info">
        <p><%= truncate(plaque.inscription, :length => 150) %></p>
      </div>
    <% end %>
  </li>
  <% end %>
  </ol>

</div>