<% @page_title = "Edit inscription for plaque \#" + @plaque.id.to_s %>

<div class="panel">

  <h1>Edit inscription for <%= link_to("plaque \#" + @plaque.id.to_s, @plaque)%></h1>
</div>

<div class="panel clearfix">
  <% if @plaque.photos.empty? %>
    <section id="plaque_no_photos">
      <div class="no_photo">
        <h2>No photograph</h2>
        <p>We don't have any photos of <%= @plaque.machine_tag %> yet.</p>
      </div>
    </section>
  <% elsif @plaque.photos.size < 2 %>
    <div class="plaque_image plaque_single_image">
      <%= image_tag(@plaque.photos.first.file_url) %>
    </div>
  <% else %>
    <div class="plaque_image plaque_multiple_images">
      <% first_photo = @plaque.photos.first %>
      <%= link_to(image_tag(first_photo.file_url, {:id => "primary_image", :alt => "Photo of plaque", :rel => "foaf:depiction"}), first_photo.url) %>
      <div id="secondary_images">
        <% @plaque.photos.each do |image| %>
          <%= link_to(image_tag(image.file_url, {:alt => "Photo of plaque", :rel => "foaf:depiction"}), image.url) unless image == first_photo %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= form_for(@plaque) do |f| %>

<div class="primary">
  <fieldset>
    <h2>What does the plaque say?</h2>
    <div class="row">
      <%= f.label :inscription, "Please type in the description on the plaque" %>
      <%= f.text_area :inscription, {:placeholder => "Joe Bloggs lived here", :autofocus => 'true',  :rows => "6", :cols => "50"} %>
    </div>

    <div class="row">
        <%= f.label :language_id, "What language is it in?" %>
        <%= f.collection_select :language_id, @languages, :id, :name %>
    </div>

    <div class="row">
      <%= f.check_box :inscription_is_stub %>
      <%= f.label :inscription_is_stub %>
    </div>

  </fieldset>

  <%= f.submit "Update", :class => :button %>

</div>
<% end %>



  <h2>Connections</h2>

  <table>
    <tr>
      <th>Person</th>
      <th>Verb</th>
      <th>Location</th>
      <th>From</th>
      <th>To</th>
      <th></th>
    </tr>
    <% @plaque.personal_connections.each do |pc| %>
      <tr>
        <td><%= link_to pc.person.name, person_path(pc.person) %></td>
        <td><%= link_to pc.location.name, location_path(pc.location) %> <%= "(here)" if pc.location == @plaque.location %></td>
        <td><%= pc.from %></td>
        <td><%= pc.to %></td>
        <td><%= link_to "Edit", edit_personal_connection_path(pc) %> <%= link_to("Delete", personal_connection_path(pc), :method => :delete)%></td>
      </tr>
    <% end %>
  </table>


  <p><%= link_to "Add connection", new_personal_connection_path(@plaque) %></p>

  <% if @plaque.personal_connections.size == 0 %>

  <%= button_to("Parse inscription!", parse_inscription_plaque_path(@plaque))%>

  <% else %>

  <%= button_to("Un-parse inscription!", unparse_inscription_plaque_path(@plaque))%>

  <% end %>

