<% content_for :page_title, "People who were born in"  %>
<h1>born in</h1>

<p>We have records of when <%=pluralize(Person.count(:born_on), "person") %> were born.
<% if Person.count(:born_on) == Person.count(:died_on) %>
  All
<% else %>
  <%= Person.count(:died_on) %>
<% end %>
of them are now <a href="/people/died_on/">dead</a>.</p>
<table cellspacing="0" cellpadding="0" summary="Years in which commemorated people died">
  <caption align="top"><br /><br /></caption>
  <tr>
	<th scope="col">Year </th>
	<th scope="col">Count </th>
  </tr>
  <% for count in @counts %>
    <% if count[0] != nil %>
      <tr>
	    <td><%= link_to(count[0].to_s[0,4], people_died_on_path(count[0].to_s[0,4]), {:class => "bday"}) %></td>
	    <td class="value"><%= image_tag("bar.png", :alt=>"", :width=>count[1]*10, :height=>"16") %><%= pluralize(count[1], "person") %></td>
      </tr>
	<% end %>
  <% end %>
</table>
