<% content_for :page_title, "New person" %>
<h1>New person</h1>

<% form_for(@person) do |f| %>

  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.label :surname_starts_with, "Surname starts with" %> <%= f.text_field :surname_starts_with %></p>
  <p><%= f.label :born_on, "Born in" %> <%= text_field_tag :born_on, "", {:maxlength => "4"} %></p>
  <p><%= f.label :died_on, "Died in" %> <%= text_field_tag :died_on, "", {:maxlength => "4"} %></p>
  <p><%= f.label :wikipedia_url, "Wikipedia link" %> <%= f.text_field :wikipedia_url %></p>
  <p><%= f.label :dbpedia_uri, "DBpedia resource URI" %> <%= f.text_field :dbpedia_uri %></p>

  <p><%= f.submit "Create" %></p>
<% end %>

<%= link_to 'Back', people_path %>
