<% content_for :page_title, "Historical plaques about " + @person.name %>

<%= content_tag "article", :class => "panel" do %>
  <%= content_tag "header" do %>
    <% content_tag "hgroup" do %>
      <%= content_tag "h1", dated_person(@person, {:links => :none}) %>
      <%= content_tag "h2", roles_list(@person) %>
    <% end %>
  <% end %>

  <aside class="plaque_info_panel">
    <%= content_tag("figure") do %>
      <div id="plaque-map" data-path="<%= person_plaques_path(@person, :format => :json) %>" data-zoom="4"></div>
      <figcaption><p>Mentioned on <%= pluralize(@person.plaques.size, "plaque") %>.</p></figcaption>
    <% end %>
  </aside>

  <%= content_tag("p", @person.introduction, :class => "intro") if @person.introduction %>

  <section class="clearfix">
    <header><h2><%= @person.plaques.size > 1 ? "Plaques" : "Plaque" %></h2></header>

    <% @person.plaques.each do |plaque| %>
      <section>
        <header><h3><%= link_to plaque.title, plaque %></h3></header>

        <p>This plaque, erected <%= erected_date(plaque) %> by <%= plaque_organisation_links(plaque) %>, reads:</p>

        <blockquote><p><%= plaque.inscription %></p></blockquote>
      </section>
    <% end %>

  </section>

  <section>
    <header><h2>Links</h2></header>
    <ul>
      <li><%= content_tag("p", link_to(@person.name, @person.default_wikipedia_url, :target => '_blank') + " on Wikipedia.".html_safe) unless @person.default_wikipedia_url.blank? %></li>
    </ul>
  </section>

  <footer>
    <p class="alternate_formats">Data about this person as <%= alternate_link_to "XML", person_path(@person, :xml), :xml %> <%= alternate_link_to "JSON", person_path(@person, :json), :json %> <%= alternate_link_to "KML", person_path(@person, :kml), :kml %>  <%= alternate_link_to "GMAP", "http://maps.google.co.uk/maps?q=" + person_url(@person, :kml), :html %></p>
  </footer>

<% end %>