<% content_for :page_title, "Edit colour of " + @plaque.title %>

<div class="panel">

  <h1>What colour is <%= link_to @plaque.title, @plaque %>?</h1>
  <%= render 'plaques/plaque_minimal', :plaque => @plaque %>
  <%= render 'plaques/photos' %>

  <%= form_for @plaque do |f| %>
    <%= f.label :colour_id, "It's" %>
    <%= f.collection_select :colour_id, @colours, :id, :name, {:include_blank => true} %>
    <%= f.submit "Save", :class => :button %>
  <% end %>

  <% if current_user && current_user.is_admin? %>
    <%= content_tag("p", "Or ".html_safe + link_to("add a new colour", new_colour_path) + ".") %>
  <% end %>

</div>