<% content_for :page_title, "Geocoding " + @plaque.title %>

<%= render 'plaques/edit_bar', :plaque => @plaque %>

<div class="panel">
  <h1>Geocoding <%= link_to @plaque.title, @plaque %></h1>
  <div class="info">
    <%= content_tag("p", address(@plaque.location)) if @plaque.location %>
  </div>
  <%= form_for(@plaque) do |f| %>
    <% unless @plaque.geolocated? || @geocodes.length == 0%>
      <p>
        <strong>Geocodes from Flickr</strong><br/>
        <% @geocodes.each do |geocode| %>
          <%= geocode[0] %>, <%= geocode[1] %> (<%= geocode[2] %>)<br />
        <% end %>
      </p>
    <% end %>
    <br/>
    <p>Find "<%= @plaque.location.name if @plaque.location %>" on <a href="http://maps.google.co.uk/maps?q=<%= @plaque.location.name if @plaque.location %>,<%= @plaque.area.name if @plaque.area %>&z=18" target="_new">google maps</a></p>
    <br/>
    <div class="edit_lat_long">
      <p><%= label_tag(:streetview_url, "Google Streetview url:") %> <%= text_field_tag(:streetview_url) %></p>
      <p><%= f.label :latitude, "Latitude" %> <%= f.text_field :latitude %> <%= f.label :longitude, "Longitude" %> <%= f.text_field :longitude %> </p>
      <p><%= f.label :is_accurate_geolocation, "Is accurate" %> <%= f.check_box :is_accurate_geolocation %></p>
      <p><%= f.submit "Update", :class => :button  %></p>
    </div>
    <div id="map" style="height: 400px; width: 100%; margin-top: 15px;"></div>
    <script>
      var map = null;
      var lat_element = null;
      var lon_element = null;
      var geolocation = new L.LatLng(52, 0);	
      var view = 5;

      document.addEventListener("DOMContentLoaded", function() {
      	lat_element = document.getElementById('plaque_latitude');
      	lon_element = document.getElementById('plaque_longitude');

      	lat_element.addEventListener('blur', update_map);
      	lon_element.addEventListener('blur', update_map);

      	update_geolocation_from_text_fields();

      	var plaque_icon = new L.DivIcon({ className: 'plaque-marker', html: '', iconSize : 16 });

      	map = L.map('map').setView(geolocation, view);

      	L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
      	  maxZoom: 18,
      	  subdomains: ['otile1','otile2','otile3','otile4']
				}).addTo(map);
				
				marker = L.marker(geolocation, {draggable: true, icon: plaque_icon});
				marker.on('dragend', update_text_fields_from_marker);
				marker.addTo(map);
				
				function update_geolocation_from_text_fields() {
					if (lat_element && lat_element.value != '' && lon_element && lon_element.value != '') {
						geolocation.lat = lat_element.value;
						geolocation.lng = lon_element.value;
						view = 18;
					} 
				}
				
			 function update_map() {
				 update_geolocation_from_text_fields();
				 marker.setLatLng(geolocation);
				 map.setView(geolocation, view);
			 }
			 
			 function update_text_fields_from_marker() {
				 lat_element.value = marker.getLatLng().lat;
				 lon_element.value = marker.getLatLng().lng;
			 }
		
			});
		</script>
  <% end %>
</div>