<% content_for :page_title, "Geocoding " + @plaque.title %>

<div class="panel">

  <h1>Geocoding <%= link_to @plaque.title, @plaque %></h1>

  <div class="info">
    <%= content_tag("p", address(@plaque.location)) if @plaque.location %>
  </div>

  <%= form_for(@plaque) do |f| %>

    <% unless @plaque.geolocated? || @geocodes.length == 0%>
      <p>
        <strong>Geocodes from Flickr</strong><br/>
        <% @geocodes.each do |geocode| %>
          <%= geocode[0] %>, <%= geocode[1] %> (<%= geocode[2] %>)<br />
        <% end %>
      </p>
    <% end %>

    <div class="edit_lat_long">
      <p><%= f.label :latitude, "Latitude" %> <%= f.text_field :latitude %> <%= f.label :longitude, "Longitude" %> <%= f.text_field :longitude %> </p>
      <p><%= f.label :accuracy, "Accuracy" %> <%= f.text_field :accuracy %></p>
      <p><%= f.submit "Update", :class => :button  %></p>
    </div>
    
    <%= osm_iframe(@plaque.latitude.to_f,@plaque.longitude.to_f) if @plaque.geolocated? %>

    <% if @yahoo_geo %>
      <p>
        <a href="http://developer.yahoo.com/maps/rest/V1/geocode.html">Yahoo! Geocoding API</a> says that
        to a '<%= @yahoo_geo.precision %>' level precision
        the location "<%= @yahoo_geo.location %>" is:<br/>
        addr: <%= @yahoo_geo.address %>,
        city: <%= @yahoo_geo.city %>,
        state: <%= @yahoo_geo.state %>,
        zip: <%= @yahoo_geo.zip %>,
        country: <%= @yahoo_geo.country %><br/>
        [<%= @yahoo_geo.latitude %>,<%= @yahoo_geo.longitude %>]
      </p>
      <%= osm_iframe(@yahoo_geo.latitude.to_f,@yahoo_geo.longitude.to_f) %>
    <% end %>

  <% end %>

  <%= javascript_include_tag "plaque_edit" %>

</div>