<% content_for :page_title, "Edit location for " + title(@plaque) %>


<div class="panel">
  <h1>Edit address for <%= link_to("plaque \#" + @plaque.id.to_s, @plaque)%></h1>

  <%= form_for(@plaque) do |f| %>

    <%= f.label :location, "Street and number" %>
    <%= text_field_tag :location, @plaque.location_string %>

    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>

</div>