<% @page_title = "Organisations" %>
<h1><%= @page_title %></h1>

<p><%= pluralize(@organisations.size, "organisation") %></p>

<ul class="search_results">
<% @organisations.each do |organisation| %>	
	<%= content_tag("li") do %>
		<p><%= link_to(h(organisation.name), organisation) %></p>
		<p class="count">
		<%= if organisation.plaques.size > 0 pluralize(organisation.plaques.size.to_s, "plaque") ? "No plaques yet" %>
		<%#= pluralize(organisation.plaques.size.to_s, "plaque") if organisation.plaques.size > 0 %>
		</p>
	<% end %>
<% end %>
</ul>

<%#= content_tag("p", link_to("Add new organisation", new_organisation_path)) if authorized? %>
