<% @page_title = "Organisations" %>

<div class="panel clearfix">
	<h1><%= @page_title %></h1>
	
</div>



<!-- TODO: MB: Tidy this para -->
<p><%= pluralize(@organisations.size, "organisation") %></p>

<!-- TODO: Make it say "'0 plaques' for the results < 0" -->
<ul class="search_results">
<% @organisations.each do |organisation| %>	
	<%= content_tag("li") do %>
		<p><%= link_to(h(organisation.name), organisation) %></p>
		<p class="count"><%= pluralize(organisation.plaques.size.to_s, "plaque") if organisation.plaques.size > 0 %></p>
	<% end %>
<% end %>
</ul>

<!-- FIXME: Seems the authorized? is throwing an error  -->

<%#= content_tag("p", link_to("Add new organisation", new_organisation_path)) if authorized? %>