<% content_for :page_title, "Organisations erecting historical plaques" %>

<div class="panel clearfix">
  <h1>Organisations erecting plaques</h1>
  <p><%= pluralize(@organisations.size, "organisation") %></p>
</div>

<!-- TODO: Make it say "'0 plaques' for the results < 0" -->
<ul id="organisations_results" class="results one_destination_results">
<% @organisations.each do |organisation| %>
  <%= content_tag("li") do %>

    <a href="<%= url_for(organisation) %>">
      <p class="result"><%= organisation.name %></p>
      <p class="count"><%= pluralize(organisation.plaques.size.to_s, "plaque") if organisation.plaques.size > 0 %></p>
    </a>

  <% end %>
<% end %>
</ul>

<!-- FIXME: Seems the authorized? is throwing an error  -->

<%#= content_tag("p", link_to("Add new organisation", new_organisation_path)) if authorized? %>