<% content_for :page_title, "#{@organisation.name} #{@colour_label} plaques" %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to("Edit this organisation", edit_organisation_path(@organisation), {:class => :edit, :title => "Edit this organisation"})%>
      <%= link_to("Add a plaque", new_plaque_path(), {:class => :edit, :title => "Add a plaque"})%>
    </section>
  <% end %>

  <h1 property="dc:title rdfs:label foaf:name" about="#this"><%= h @organisation.name %> plaques</h1>
  <%= content_tag("p", link_to(h(@organisation.website),@organisation.website), {:rel => "foaf:homepage vcard:url"}) unless @organisation.website.blank? %>
</div>

<div id="organisation_info" typeof="foaf:Organization">
  <%= simple_format(@organisation.description) if @organisation.description %>
  <div id="plaque-map" data-latitude="<%= @mean.latitude %>" data-longitude="<%= @mean.longitude %>" class="full" data-zoom="<%= @zoom %>"></div>

  <%= will_paginate @sponsorships %>

  <%= list(@sponsorships) %>

  <%= will_paginate @sponsorships %>

</div>

<p class="alternate_formats">Data about <%= @organisation %> as <%= alternate_link_to "XML", organisation_path(@organisation, :format => :xml), :xml %> <%= alternate_link_to "JSON", organisation_path(@organisation, :format => :json), :json %> <%= alternate_link_to "KML", organisation_path(@organisation, :format => :kml), :kml %> <%= alternate_link_to "GMAP", "http://maps.google.co.uk/maps?q=" + organisation_url(@organisation, :format => :kml), :html %></p>
