<% content_for :page_title, @organisation.name + " blue plaques" %>

<div class="panel clearfix">
  <h1 property="dc:title rdfs:label foaf:name" about="#this"><%= h @organisation.name %> plaques</h1>
  <%= link_to("Edit", edit_organisation_path(@organisation), {:class => :edit, :title => "edit location"}) if current_user %>
  <%= content_tag("p", link_to(h(@organisation.website),@organisation.website), {:rel => "foaf:homepage vcard:url"}) unless @organisation.website.blank? %>
</div>

<div id="organisation_info" typeof="foaf:Organization">
  <%= link_to("Edit", edit_organisation_path(@organisation), {:class => :edit, :title => "edit location"}) if current_user %>
  <%= simple_format(@organisation.description) if @organisation.description %>
  <%#= render :partial => 'plaques/map.html.erb' %>
  <%= plaque_list(@plaques, :organisation) %>
</div>