<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New plaque added to website: #<%=h @plaque.id.to_s %></h1>
    <p>"<%= h @plaque.user.name %>" (<%= h @plaque.user.email %>) had added a plaque to the website.</p>
    <p>Inscription:</p> 

		<p style="color: #333; font-size: 1.2em;"><%= h @plaque.inscription %></p>

		<p><%= link_to plaque_path(@plaque, :only_path => false), plaque_path(@plaque, :only_path => false) %>

		<p>If this plaque is spam, or nonsense, please login and delete it.</p>
  </body>
</html>