<% @page_title = "Users" %>
<h1><%= @page_title %></h1>

<%= content_tag("ul") do %>
  <% @users.each do |user|%>
    <%= content_tag("li") do %>
      <%= user.username %>
      <%#= link_to(user.name, user_path(user))  %>
      (<%= user.name %>)
      - added <%= pluralize(user.plaques.size, "plaque") %>
    <% end %>
  <% end %>
<% end %>
