<% content_for :page_title, "Edit language of plaque \#" + @plaque.id.to_s %>
<h1>Edit language of <%= link_to "Plaque #" + @plaque.id.to_s, @plaque %></h1>

<% form_for @plaque do |f| %>
  <%= f.label :language_id, "Language" %>
  <%= f.collection_select :language_id, @languages, :id, :name %>
    <%= f.submit "Save" %>
<% end %>

<%= content_tag("p", "Or " + link_to("add new language", new_language_path) + ".") %>