<h1>Edit <%= link_to @page.name, {:action => :show, :id => @page.slug }%></h1>

<% form_for @page, :url => "/pages/" + @page.slug do |f| %>
	
	<%= f.error_messages %>
	
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :slug %>
		<%= f.text_field :slug %>
	</p>
	
	<%= f.text_area :body %>
	
	<%= f.submit "Save" %>

	
<% end %>