<% content_for :page_title, "Open Plaques pages" %>

<div class="panel clearfix">
  <p><%= pluralize(@pages.size, "Open Plaques page") %></p>

  <ul>
    <% for page in @pages %>
      <li><%= link_to page.name, {:action => :show, :id => page.slug} %>. Last updated <%= page.updated_at.to_s(:long) %> <%= link_to "[Edit]", edit_page_path(page.slug) %></li>
    <% end %>
  </ul>

  <%= button_to "Add new page", new_page_path %>
</div>