<% content_for :page_title, "Edit description for plaque \#" + @plaque.id.to_s %>

<%= render 'plaques/edit_bar', :plaque => @plaque %>

<div class="panel">
  <h1>Edit description for <%= link_to("plaque \#" + @plaque.id.to_s, @plaque)%></h1>
  <%= render @plaque %>
  <%= form_for(@plaque) do |f| %>
    <%= f.label "Enter any additional interesting information about the plaque and links to articles about it to be displayed on the plaque detail page." %>
    <div class="primary">
      <div class="row">
        <%= f.text_area :description, :class => :description %>
      </div>
      <%= f.submit "Save", :class => :button %>
    </div>
  <% end %>
</div>