<% content_for :page_title, "Geocoding " + @plaque.title %>

<%= render 'plaques/edit_bar', :plaque => @plaque %>

<div class="panel">
  <h1>Where is this plaque?</h1>
  <%= form_for(@plaque) do |f| %>
    <% unless @plaque.geolocated? || @geocodes.length == 0%>
      <p>
        <strong>Geocodes from Flickr</strong><br/>
        <% @geocodes.each do |geocode| %>
          <%= geocode[0] %>, <%= geocode[1] %> (<%= geocode[2] %>)<br />
        <% end %>
      </p>
    <% end %>
    <br/>
    <p>Our goal is to accurately locate all plaques through real-life evidence. We do not use geocoding software as the results are inaccurate and it taint the openness of our data. It is okay to plot an approximate position, but please be sure to flag it as uncertain.</p>
    <br/>
    <p>Find the address '<%= render @plaque.location %>' <a href="http://maps.google.com/maps?q=<%= @plaque.location.full_address %>&z=18" target="_new">on Google Maps</a></p>
    <div class="edit_lat_long">
      <p><%= label_tag(:streetview_url, "Google Streetview url:") %> <%= text_field_tag(:streetview_url, ' ', size: 100) %></p>
      <p><%= f.label :latitude %> <%= f.text_field :latitude %> <%= f.label :longitude %> <%= f.text_field :longitude %> <a href="http://maps.google.com/maps?q=<%= @plaque.latitude %>,<%= @plaque.longitude %>&z=18" target="_new">on Google Maps</a></p>
      <p>I'm certain that this location is accurate <%= f.check_box :is_accurate_geolocation %> because it was located from a geocoded photo, or I have seen this plaque in Google Streetview/real life </p>
      <p><%= f.submit "Update", :class => :button  %></p>
    </div>
    <p>Of course, a photo will give you the position where the photographer was standing and Google Streetview where the cameracar was. You can drag and drop the blue dot to refine the position.</p>
    <div id="map" style="height: 400px; width: 100%; margin-top: 15px;"></div>
    <script>
      var map = null;
      var lat_element = null;
      var lon_element = null;
      var geolocation = new L.LatLng(52, 0);	
      var view = 5;

      document.addEventListener("DOMContentLoaded", function() {
      	lat_element = document.getElementById('plaque_latitude');
      	lon_element = document.getElementById('plaque_longitude');

      	lat_element.addEventListener('blur', update_map);
      	lon_element.addEventListener('blur', update_map);

      	update_geolocation_from_text_fields();

      	var plaque_icon = new L.DivIcon({ className: 'plaque-marker', html: '', iconSize : 16 });

      	map = L.map('map').setView(geolocation, view);

      	L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
      	  maxZoom: 18,
      	  subdomains: ['otile1','otile2','otile3','otile4']
				}).addTo(map);
				
				marker = L.marker(geolocation, {draggable: true, icon: plaque_icon});
				marker.on('dragend', update_text_fields_from_marker);
				marker.addTo(map);
				
				function update_geolocation_from_text_fields() {
					if (lat_element && lat_element.value != '' && lon_element && lon_element.value != '') {
						geolocation.lat = lat_element.value;
						geolocation.lng = lon_element.value;
						view = 18;
					} 
				}
				
			 function update_map() {
				 update_geolocation_from_text_fields();
				 marker.setLatLng(geolocation);
				 map.setView(geolocation, view);
			 }
			 
			 function update_text_fields_from_marker() {
				 lat_element.value = marker.getLatLng().lat;
				 lon_element.value = marker.getLatLng().lng;
			 }
		
			});
		</script>
  <% end %>
</div>