<% content_for :page_title, "Photos licences" %>

<% @sorted_licences = @licences.sort_by { |p| 1 - p.photos.count } %>

<div class="panel">
  <h1>Photo licences</h1>

  <p><%= pluralize(@licences.size, "licence") %></p>

  <canvas id="myCanvas" width="1000" height="1000"></canvas>

  <ul>
  <% for licence in @sorted_licences %>
    <li><%= link_to(licence.name, licence_url(licence)) %> - <%= pluralize(licence.photos.count, "photo") %> <%= link_to(licence.url, licence.url) %> </li>
  <% end %>
  </ul>
</div>

<script>
    window.onload = function ()
    {
        var data = [<% @sorted_licences.each_with_index do |licence, idx| %><% if idx < 50 %><%= licence.photos.count %>,<% end %><% end %>];
        var hbar = new RGraph.HBar('myCanvas', data);
        hbar.Set('chart.labels', [<% @sorted_licences.each_with_index do |licence, idx| %><% if idx < 50 %>'<%= licence.name %>',<% end %><% end %>]);
        hbar.Set('chart.colors', [<% @sorted_licences.each_with_index do |licence, idx| %><% if idx < 50 %>'<%= licence[0] %>',<% end %><% end %>]);

        hbar.Set('chart.strokestyle', 'rgba(0,0,0,0)');
        hbar.Set('chart.labels.above', true);
        hbar.Set('chart.labels.above', true);
        hbar.Set('chart.vmargin', 15);
        hbar.Set('chart.background.grid', false);
        
        hbar.Set('chart.colors.sequential', true);

        hbar.Set('chart.xlabels', false);
        hbar.Set('chart.gutter.left', 300);
        hbar.Set('chart.gutter.right', 50);
        hbar.Set('chart.gutter.top', 25);

		hbar.Set('chart.noxaxis', true);
		hbar.Set('chart.noxtickmarks', true);
		hbar.Set('chart.noytickmarks', true);
        RGraph.isOld() ? hbar.Draw() : RGraph.Effects.HBar.Grow(hbar);
    }
</script>