<% content_for :page_title, "What roles does " + @person.name + "have?"%>

<div class="panel">
  <h1>What roles does <%= link_to @person.name, @person %> have?</h1>
  <% if url_for(:only_path => false).include?('microtask') %>
    <p><%= button_to "Not sure. Give me another one", todo_path('microtask'), :method => :get, :class => :button %></p>
  <% end %>
  <br/>
  <p><%= @person.name %> features on plaques...
    <% @person.plaques.each do |plaque| %>
      <%= render 'plaques/minimal', :plaque => plaque %>
    <% end %>
    <br/>...from which we can establish that:</p>
  
  <% @person.personal_roles.each do |personal_role| %>
    <div>
      <%= @person.name %> was a <%= dated_role(personal_role) %> <%= link_to "Edit", edit_personal_role_path(personal_role) %>
      <%= button_to "Delete", personal_role, :method => :delete, :class => :button%> 
    </div>
  <% end %>
  <p>
    <%= form_for @personal_role do |f| %>
      <%= f.hidden_field :person_id, :value => @person.id %>
      <%= @person.name %> was a <%= f.collection_select :role, @roles, :id, :name %> from <%= f.text_field :started_at %> to <%= f.text_field :ended_at %>
      <%= f.submit "Add", :class => :button %>
    <% end %>
  </p>
  
  <%= content_tag("p", link_to("Add new role", new_role_path)) if current_user %>
</div>
