<% content_for :page_title, "Historical plaques in " + @country.name + " - by area" %>

<div class="panel">
<h1><%= @country.name %> - by area</h1>


<% if @areas.size > 0 %>
  <%= content_tag("ul") do %>
    <% @areas.each do |area| %>
      <%= content_tag("li") do %>
        <%= link_to area.name, country_area_path(area.country, area) %>
        <%= "(" + pluralize(area.plaques.size, "plaque") + ")" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag("p", link_to("Add new area", new_country_area_path(@country.alpha2))) if current_user.try(:is_admin?) %>
</div>