<% content_for :page_title, "Historical plaques in " + @area.name + ", " + @area.country.name %>

<div class="panel clearfix">
  <%= link_to(@area.country.name, @area.country) if @area.country %>
  <h1><%= @area.name %></h1>

  <%= plaque_list(@plaques) %>

</div>



<p>See <%= link_to "unphotographed plaques", {:controller => :unphotographed_plaques_by_area, :country_id => @area.country.alpha2, :area_id => @area.slug, :action => :show} %>.</p>


<%= link_to "Edit", edit_area_path(@area) if current_user && current_user.is_admin? %>

