<h1><%= link_to dated_person(@personal_role.person), @personal_role.person %></h1>

<p>was a <%= dated_role(@personal_role) %></p>


<%= form_for @personal_role do |f| %>
  <% if @personal_role.role.relationship? %>
    <p>
      of <%= f.collection_select :related_person_id, @people, :id, :name_and_dates, {} , { "style" => "width:400px" } %>	
    </p>
  <% end %>
  <p>
    <%= f.label :started_at, "from" %>
    <%= f.text_field :started_at %>

    <%= f.label :ended_at, "to" %>
    <%= f.text_field :ended_at %>
  </p>

  <p>
    <%= f.label :ordinal, "ordinal" %>
    <%= f.text_field :ordinal %>
  </p>

  <p><%= f.submit "Save" %></p>
<% end %>