<h1>Edit personal role</h1>

<p><%= link_to @personal_role.person.name, @personal_role.person %> was a <%= dated_role(@personal_role) %></p>


<% form_for @personal_role do |f| %>
<%= f.error_messages %>

  <p>
    <%= f.label :started_at, "From" %>
    <%= f.text_field :started_at %>
  </p>

  <p>
    <%= f.label :ended_at, "To" %>
    <%= f.text_field :ended_at %>
  </p>

  <p><%= f.submit "Save" %></p>



<% end %>