<table class="section_details" cellspacing="0" summary="Plaque details for #<%= @plaque.id %>">
   <% if !@plaque.is_accurate_geolocation %>
   <tr>
     <th>Map accuracy</th>
     <td>This is an approximate position</td>
   </tr>
   <% end %>
   <tr>
     <th>Erected</th>
     <td><%= erected_information @plaque %></td>
   </tr>
   <% if @plaque.series %>
     <tr>
       <th>Series</th>
       <td><%= link_to @plaque.series.name, @plaque.series %></td>
     </tr>
   <% end %>
   <tr>
     <th>Language</th>
     <td><%= language_if_known @plaque %></td>
   </tr>
   <tr>
     <th>Colour</th>
     <td><%= colour_if_known @plaque %></td>
   </tr>
   <tr>
     <th>Location</th>
     <td><%= location_if_known @plaque %></td>
   </tr>
   <tr>
     <th>Subject</th>
     <td>
       <% @plaque.people.each do |person| %>
         <span class="vcard"><%= dated_person(person) %></span><br/>
       <% end %>
       <% if @plaque.people.size == 0 %>
         None identified yet
       <% end %>
     </td>
   </tr>
   <% if !@plaque.is_current %>
   <tr>
     <th>Not found</th>
     <td>As far as we know, it is not currently on display</td>
   </tr>
   <% end %>
   <tr>
      <th>See also...</th>
      <td>
      <% @plaque.people.each do |person| %>
        <% person.plaques.each do |plaque| %>
          <% if plaque != @plaque %>
            <%= link_to(thumbnail_img(plaque), plaque) %>
          <% end %>
        <% end %>
      <% end %>
      </td>
   </tr>
 </table>