<div class="plaque_info_panel" summary="Plaque details for #<%= plaque.id %>" id="plaque_<%= plaque.id %>">
  <%= render 'plaques/tile', :plaque => plaque %>
  <%= content_tag('h1', plaque.inscription_preferably_in_english, :class => 'inscription') %>
  <%= render 'plaques/details', :plaque => plaque %>
</div>
<br style="clear: both;"/>
