<table class="section_details" cellspacing="0" summary="Plaque details for #<%= @plaque.id %>">
   <% if !@plaque.is_accurate_geolocation %>
     <tr>
       <th>Map accuracy</th>
       <td>This is an approximate position</td>
     </tr>
   <% end %>
   <tr>
     <th><% if @plaque.erected? %>Erected<% else %>To be erected<% end %></th>
     <td><%= erected_information @plaque %></td>
   </tr>
   <% if @plaque.series %>
     <tr>
       <th>Series</th>
       <td><%= link_to @plaque.series.name, @plaque.series %><% if @plaque.series_ref? %> (<%= @plaque.series_ref %>)<% end %></td>
     </tr>
   <% end %>
   <tr>
     <th>Language</th>
     <td>
      <% if @plaque.language_name %>
        <%= content_tag("span", @plaque.language_name, {:property => "dc:language", :content => @plaque.language_alpha2, :datatype => "xsd:language"}) %>
      <% else %>
        Unknown
      <% end %>
    </td>
   </tr>
   <tr>
     <th>Colour</th>
	 <% if @plaque.colour_name %>
       <td><%= @plaque.colour_name || "Unknown" %></td>
	 <% else %>
	   <% @colours = Colour.find(:all) %>
	   <td>
	     <%= form_for @plaque do |f| %>
           <%= f.label :colour_id, "This plaque is" %>
           <%= f.collection_select :colour_id, @colours, :id, :name, {:include_blank => true} %>
           <%= f.submit "Save", :class => :button %>
         <% end %>
       </td>
     <% end %>
   </tr>
   <tr>
     <th>Location</th>
     <td><%= location_if_known @plaque %><br/><% if !@plaque.geolocated? && current_user && current_user.is_admin? %>
	     [<%= link_to "geolocate this address", edit_plaque_geolocation_path(@plaque), {:class => :edit, :title => "Geolocate"} %>]
	   <% end %>
	 </td>
   </tr>
   <tr>
     <th><%= pluralize_word(@plaque.people.size, "Subject") %></th>
     <td>
       <% @plaque.people.each do |person| %>
         <span class="vcard"><%= dated_person(person) %></span><br/>
       <% end %>
       <% if @plaque.people.size == 0 %>
         None identified yet
       <% end %>
     </td>
   </tr>
   <tr>
     <th>Machine tag</th>
     <td><%= @plaque.machine_tag %></td>
   </tr>
   <% if !@plaque.is_current %>
     <tr>
       <th>Not found</th>
       <td>As far as we know, it is not currently on display</td>
     </tr>
   <% end %>
   <% if !@plaque.see_also.empty? %>
     <tr>
        <th>See also...</th>
        <td>
		  <% @plaque.see_also.each do |plaque| %>
            <%= link_to(thumbnail_img(plaque), plaque) %>
          <% end %>
        </td>
     </tr>
   <% end %>   
 </table>