<% content_for :page_title do %>Edit <%= @plaque.title %><% end %>

<%= render 'plaques/edit_bar', :plaque => @plaque %>

<div class="panel clearfix">
  <h1>Edit <%= link_to @plaque.title, plaque_path(@plaque) %></h1>
  <div class="info">
    <p>First added by <%= link_to @plaque.user.username, user_path(@plaque.user) if @plaque.user %> on <%= @plaque.created_at.to_s(:long) %>. <%= "Last updated: " + @plaque.updated_at.to_s(:long) + "." if @plaque.created_at != @plaque.updated_at %></p>
  </div>
  <%= form_for(@plaque) do |f| %>
    <p><b><%= f.label :notes %></b>: (these are for internal use, and aren't displayed publicly)<br>
    <%= f.text_area :notes, :class => :notes %></p>
    <p><%= f.label :is_current, "We believe this plaque currently exists" %> <%= f.check_box :is_current %></p>
    <p><%= f.submit "Save", :class => :button %></p>
  <% end %>
</div>

<div class="panel clearfix">
  <%= button_to("Delete plaque", plaque_path(@plaque.id), {:method => :delete, :class => :button}) if current_user.try(:is_admin?) %>
</div>



