<div class="panel clearfix">

  <h1>Edit <%= link_to @plaque.title, plaque_path(@plaque) %></h1>

  <div class="info">
    <p>First added by <%= link_to @plaque.user.username, user_path(@plaque.user) %> on <%= @plaque.created_at.to_s(:long) %>. <%= "Last updated: " + @plaque.updated_at.to_s(:long) + "." if @plaque.created_at != @plaque.updated_at %></p>
  </div>

  <%= form_for(@plaque) do |f| %>

    <p><b><%= f.label :notes %></b>: (these are for internal use, and aren't displayed publicly)<br>
    <%= f.text_area :notes, :class => :notes %></p>

    <p><%= f.submit "Save", :class => :button %></p>

  <% end %>

  <%= link_to "Edit inscription", edit_plaque_inscription_path(@plaque), {:class => :edit, :title => "Edit inscription"} %>
  
  <%= link_to "Establish connections", new_personal_connection_path(@plaque), {:class => :edit, :title => "Establish connections"} %>

  <%= link_to "Edit description", edit_plaque_description_path(@plaque), {:class => :edit, :title => "Edit description"} %>

  <%= link_to "Edit colour", edit_plaque_colour_path(@plaque), {:class => :edit, :title => "Edit colour"} %>

  <%= link_to "Edit geolocation", edit_plaque_geolocation_path(@plaque), {:class => :edit, :title => "Edit geolocation"} %>

  <%= link_to "Edit location", edit_plaque_location_path(@plaque), {:class => :edit, :title => "Edit location"} %>

  <%= link_to "Edit organisation", edit_plaque_erected_path(@plaque), {:class => :edit, :title => "Edit organisation"} %>

</div>

<div class="panel clearfix">

  <%= button_to("Delete plaque", plaque_path(@plaque.id), {:method => :delete, :class => :button}) if current_user.try(:is_admin?) %>

</div>



