<script>
	$(function() {
		$( "#area" ).autocomplete({
			source: '/areas.json' ,
			select: function(event, ui){
						$('#country').val(ui.item.country_name);
						$('#area_id').val(ui.item.id);
						$('#plaque_country').val(ui.item.country_id);						
					},
			delay: 10
		});
	});
	
	$(function() {
		
		$( "#organisation_name" ).autocomplete({
			source: function(request, response) {
				$.ajax({
					url: "/organisations",
					dataType: "json",
					data: {
						name_starts_with: request.term
					},
					success: function(data) {
						response($.map(data, function(item) {
							return {
								label: item.organisation.name,
								id: item.organisation.id
							}
						}));
					}
				});
			},
			select: function(event, ui) {
				$('#plaque_organisation_id').val(ui.item.id);
			}
		});
	});
	</script>


<p>Thanks for spotting a plaque!</p>

<% if params[:checked] && params[:checked] == "true" %>

	<%= form_for(@plaque) do |f| %>

		<fieldset>
			<h2>What does the plaque say?</h2>
			<div><%= f.label :inscription, "Please type in the transcription on the plaque" %>: 
				<%= f.text_area :inscription, {:placeholder => "Joe Bloggs lived here"} %>
			</div>
				
				<p>
					<%= f.label :language_id %>
					<%= f.collection_select :language_id, @languages, :id, :name %>
				</p>
		</fieldset>
		<fieldset>
			<h2>Location</h2>
			<div>
			<label for="location">Street and number: </label>
				<%= text_field_tag :location, "", {:placeholder => "221B Baker Street"} %>
			</div>
				
			<div class="ui-widget">
				<label for="area">City/Town: </label>
				<%= text_field_tag :area, "", :placeholder => "London" %>
			</div>

			<div>
				<%= f.label :country %>
				<%= f.collection_select :country, @countries, :id, :name %>
			</div>
		
			<%= hidden_field_tag :area_id %>
		</fieldset>
			
		<fieldset>
			<h2>Who erected the plaque, and when?</h2>

			<%= f.fields_for :organisation do |g| %>
				<div>
					<%= label_tag :organisation_name, "Organisation" %>
					<%= text_field_tag :organisation_name, "", {:placeholder => "English Heritage"} %>
					<%= f.hidden_field :organisation_id %>
				</div>
				
				<div>
					<%= f.label :erected_at, "Year or date erected" %>
					<%= f.date_select :erected_at, :include_blank => true %>
				</div>				
			<% end %>

		</fieldset>			
			
		<% unless current_user %>	
		<fieldset>
			<h2>About you</h2>

			<%= f.fields_for :user do |g| %>
				<div>
					<%= label_tag :user_name, "Name" %>
					<%= text_field_tag :user_name %>
				</div>

				<div>
					<%= label_tag :user_email, "E-mail address" %>
					<%= text_field_tag :user_email %>
				</div>			
			<% end %>
		</fieldset>
		<% end %>
		
		<%= f.submit "Save" %>

	<% end %>

<% else %>
	<p>First, let's just make sure it's not already in our database. Who or what is it about?</p>

	<%= form_tag("/search", :method => "get") do %>
	  <%= label_tag(:phrase, "Search: ") %>
	  <%= text_field_tag(:phrase) %>
		<%= hidden_field_tag(:from, :submission)%>
	  <%= submit_tag("Go", :name => nil) %>
	<% end %>
<% end %>