<h1>New plaque</h1>

<%= form_for(@plaque) do |f| %>
  <%#= f.error_messages %>

	<div><%= f.label :inscription %> <%=f.text_area :inscription %></div>
  
	<div><%= f.label :inscription_is_stub %> <%=f.check_box :inscription_is_stub %></div>

	<div><%= label_tag :location %> <%=text_field_tag :location %> <%= collection_select :area, :id, @areas, :id, :name, {:include_blank => true} %></div>
	

	<div><%= f.label :latitude, "Lat" %>/<%= f.label :longitude, "Long" %>: <%= f.text_field :latitude %>,<%= f.text_field :longitude %> </div>
	
	<div><%= f.label :erected_at_string, "Date erected" %>: <%= f.text_field :erected_at_string, {:include_blank => true} %> (enter a year or a full date, if known, as <kbd>YYYY-MM-DD</kbd>)</div>
	
	<div><%= f.label :organisation_id, "Organisation" %><%= f.collection_select :organisation_id, @organisations, :id, :name, {:include_blank => true} %></div>
	
	<div><%= f.label :colour_id, "Colour" %>
	<%= f.collection_select :colour_id, @colours, :id, :name, {:include_blank => true} %></div>
	
	<div><%= f.label :language_id, "Language" %>
	<%= f.collection_select :language_id, @languages, :id, :name %></div>

	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to 'Back', plaques_path %>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" language="javascript" type="text/javascript"></script>
<script src="/javascripts/plaque_edit.js" language="javascript" type="text/javascript"></script>
