<% content_for :page_title do %><%= title(@plaque) %><%= " in " + @plaque.location.area.name if @plaque.area %><% end %>

<% @page_title = title(@plaque) %>

<div class="panel clearfix">


<%=
	plaque_class = @plaque.inscription.length > 250 ? "large_inscription" : "inscription"
	content_tag("h1", new_linked_inscription(@plaque), {:class => plaque_class, :property => "op:inscription"})
%>

</div>

<div class="panel clearfix">

  <% if @plaque.photos.empty? %>
<!--TODO: Incorporate streetview imagery -->
    <section id="plaque_no_photos">
      <div class="no_photo">
        <h2>No photograph</h2>
        <p>We don't have any photos of this plaque yet. <!--<a href="#">Add your own photo</a>--></p>
      </div>

      <% if @plaque.geolocated? %>

      <div class="no_photo_geo">

        <%= image_tag(google_maps_path(@plaque.latitude, @plaque.longitude, {:width => 245, :height => 250, :zoom => 16, :styles =>
          {
            :road =>
              {:all =>
                {:lightness => "30"}
              },
              "road.arterial" =>
                {:all =>
                  {:hue => "0x003bff"}
                },
              :poi =>
                {:all =>
                  {:visibility => :simplified}
                },
              :landscape =>
                {:all =>
                  {:hue => "0x003bff"}
                }
              }
            }
          )) %>

          <%= image_tag(google_maps_path(@plaque.latitude, @plaque.longitude, {:width => 245, :height => 250, :zoom => 10, :styles =>
            {
              :road =>
                {:all =>
                  {:lightness => "30"}
                },
                "road.arterial" =>
                  {:all =>
                    {:hue => "0x003bff"}
                  },
                :poi =>
                  {:all =>
                    {:visibility => :simplified}
                  },
                :landscape =>
                  {:all =>
                    {:hue => "0x003bff"}
                  }
                }
              }
            )) %>

      </div>



      <% else %>
        <div class="no_location">
          <h2>Location unknown</h2>
          <p>We don't know where this plaque is. <!--a href="#">Locate this plaque</a--></p>
        </div>
      <% end %>
    </section>

    <section id="plaque_identifier" class="plaque_info_panel">
      <%= render "plaque_header" %>
      <%= render "plaque_details" %>
    </section>

  <% elsif @plaque.photos.size < 2 %>

    <div class="plaque_image plaque_single_image">

      <% photo = @plaque.photos.first %>
      <%= link_to(image_tag(photo.file_url, {:alt => "Photo of plaque", :rel => "foaf:depiction"}), photo.url) %>

      <div id="photo_information" class="clearfix">
        <p class="photo_credit">Photographed by
        <% if photo.photographer_url %>
          <%= link_to(photo.photographer, photo.photographer_url) %>
        <% else %>
          <%= photo.photographer %>.
        <% end %></p>
        <p class="photo_licence"><%= link_to(photo.licence.name, photo.licence.url) %></p>
      </div>

    </div>

    <section id="plaque_identifier" class="plaque_info_panel">

      <%= render "plaque_header" %>

      <% if @plaque.geolocated? %>
        <%= image_tag(google_maps_path(@plaque.latitude, @plaque.longitude, {:zoom => 16, :styles =>
        {
          :road =>
            {:all =>
              {:lightness => "30"}
            },
            "road.arterial" =>
              {:all =>
                {:hue => "0x003bff"}
              },
            :poi =>
              {:all =>
                {:visibility => :simplified}
              },
            :landscape =>
              {:all =>
                {:hue => "0x003bff"}
              }
            }
          }
        )) %>
      <% end %>

      <%= render "plaque_details" %>
      <% # render "contributor_details" %>

    </section>

  <% else %>


      <div class="plaque_image plaque_multiple_images">
        <% first_photo = @plaque.photos.first %>
        <%= link_to(image_tag(first_photo.file_url, {:id => "primary_image", :alt => "Photo of plaque", :rel => "foaf:depiction"}), first_photo.url) %>

        <div id="secondary_images">
        <% @plaque.photos.each do |image| %>
          <%= link_to(image_tag(image.file_url, {:alt => "Photo of plaque", :rel => "foaf:depiction"}), image.url) unless image == first_photo %>
        <% end %>

        </div>


      </div>

    <section id="plaque_identifier" class="plaque_info_panel">

        <%= render "plaque_header" %>

        <% if @plaque.geolocated? %>
          <%= image_tag(google_maps_path(@plaque.latitude, @plaque.longitude, {:zoom => 16, :styles =>
          {
            :road =>
              {:all =>
                {:lightness => "30"}
              },
              "road.arterial" =>
                {:all =>
                  {:hue => "0x003bff"}
                },
              :poi =>
                {:all =>
                  {:visibility => :simplified}
                },
              :landscape =>
                {:all =>
                  {:hue => "0x003bff"}
                }
              }
            }
          )) %>
        <% end %>

        <%= render "plaque_details" %>
        <% #= render "contributor_details" %>

      </section>

  <% end %>

</div>

<div id="plaques_nearby"></div>

<div<%= " class=\"" + @plaque.colour.name + "plaque\"" if @plaque.colour %> about="#this" typeof="op:Plaque">

  <% unless @plaque.description.blank? %>
    <div class="info">
      <%= link_to "Edit", edit_plaque_description_path(@plaque), {:class => :edit, :title => "Edit plaque description"} if current_user %>
        <div class="description" id="description">
          <%= simple_format(h(@plaque.description)) %>
        </div>
    </div>
  <% end %>


</div>