<% @page_title = title(@plaque) %>

<div class="panel clearfix">

	<%= content_tag("h1", new_linked_inscription(@plaque), {:class => "inscription", :property => "op:inscription"}) %>

</div>


<!--
TODO: Step by step instructions on how to do flickr

plaque_no_image
plaque_single_images
plaque_mutliple_images

-->

<div class="panel clearfix">
	
	<% if @plaque.photos.empty? %>
		
		<section id="plaque_no_photos">
			<div class="no_photo">
				<h2>No photograph</h2>
				<p>We don't have any photos of this plaque yet. <a href="#">Add your own photo</a></p>
			</div>
			
			<% if @plaque.geolocated? %>


				<%= image_tag(google_maps_path(@plaque.latitude, @plaque.longitude, {:zoom => 16, :styles =>
					{
						:road =>
							{:all =>
								{:lightness => "30"}
							},
							"road.arterial" =>
								{:all =>
									{:hue => "0x003bff"}
								},
							:poi =>
								{:all =>
									{:visibility => :simplified}
								},
							:landscape =>
								{:all =>
									{:hue => "0x003bff"}
								}
							}
						}
					)) %>

			<% else %>
				<div class="no_location">
					<h2>Location unknown</h2>
					<p>We don't know where this plaque is. <a href="#">Locate this plaque</a></p>
				</div>
			<% end %>
		</section>

		<section id="plaque_identifier" class="plaque_info_panel">
			<%= render "plaque_header" %>
			<%= render "plaque_details" %>
		</section>
		
	<% elsif @plaque.photos.size < 2 %>
		SINGLE IMAGE
		
		<div class="plaque_image plaque_single_image">

			<% photo = @plaque.photos.first %>
			<%= link_to(image_tag(photo.file_url, {:alt => "Photo of plaque", :rel => "foaf:depiction"}), photo.url) %>

			<div id="photo_information" class="clearfix">
				<p class="photo_credit">Photographed by
				<% if photo.photographer_url %>
					<%= link_to(photo.photographer, photo.photographer_url) %>
				<% else %>
					<%= photo.photographer %>.
				<% end %></p>
				<p class="photo_licence"><%= link_to(photo.licence.name, photo.licence.url) %></p>
			</div>

		</div>

		<section id="plaque_identifier" class="plaque_info_panel">

			<%= render "plaque_header" %>

			<% if @plaque.geolocated? %>
			  <%= image_tag(google_maps_path(@plaque.latitude, @plaque.longitude, {:zoom => 16, :styles =>
				{
					:road =>
						{:all =>
							{:lightness => "30"}
						},
						"road.arterial" =>
							{:all =>
								{:hue => "0x003bff"}
							},
						:poi =>
							{:all =>
								{:visibility => :simplified}
							},
						:landscape =>
							{:all =>
								{:hue => "0x003bff"}
							}
						}
					}
				)) %>
			<% end %>

			<%= render "plaque_details" %>
			<%= render "contributor_details "%>

		</section>
		
	<% else %>
		TWO PLUS
	<% end %>

</div>

<div id="plaques_nearby"></div>

<div<%= " class=\"" + @plaque.colour.name + "plaque\"" if @plaque.colour %> about="#this" typeof="op:Plaque">

  <% unless @plaque.description.blank? %>
    <div class="info">
      <%= link_to "Edit", edit_plaque_description_path(@plaque), {:class => :edit, :title => "Edit plaque description"} if current_user %>
        <div class="description" id="description">
          <%= simple_format(h(@plaque.description)) %>
        </div>
    </div>
  <% end %>


</div>