<% content_for :page_title, "Blue plaque photographers" %>

<div class="panel">
  <section class="admin_panel">
    <%= link_to("Add a new photographer", new_photographer_path, {:class => :edit, :title => "Add a new photographer"})%>
  </section>
  
  <p><%= pluralize(@photographers.size, "Blue plaque photographer") %></p>

  <ol>
    <% for photographer in @photographers.sort_by { |p| 1 - p[1] } %>
      <% if photographer[0] != nil %>
        <li><%= link_to(photographer[0], photographer_url(photographer[0].gsub(/\./,'_').gsub('/','_'))) rescue photographer[0] %> - <%= pluralize(photographer[1], "photo") %></li>
      <% end %>
    <% end %>
  </ol>
</div>

<p class="alternate_formats">Data about photographers as <%= alternate_link_to "XML", photographers_path(:xml), :xml %> <%= alternate_link_to "JSON", photographers_path(:json), :json %></p>