<% content_for :page_title, "Unphotographed plaques in " + @area.name + ", " + @area.country.name %>
<h1>Unphotographed plaques in <%= link_to @area.name, area_path(@area) %></h1>

<% unless @plaques.nil? %>
  <div id="plaque-map" data-latitude="<%= @area.latitude %>" data-longitude="<%= @area.longitude %>" data-view="not all"></div>

  <%= will_paginate @plaques %>
  <%= list(@plaques) %>
  <%= will_paginate @plaques %>
  
  <p class="alternate_formats">Unphotographed plaques in <%= @area %> as <%= alternate_link_to "XML", area_path(@area, :xml), :xml %> <%= alternate_link_to "JSON", area_path(@area, :json), :json %> <%= alternate_link_to "KML", area_path(@area, :kml), :kml %>  <%= alternate_link_to "GMAP", "http://maps.google.co.uk/maps?q=" + area_url(@area, :kml), :html %></p>
<% end %>