<div>
  <div><%= link_to thumbnail_img(pick), pick_path(pick) %></div> 
  <div><%= link_to(pick.plaque.title, pick_path(pick)) %> "<%= pick.description %>" proposed by <%= pick.proposer %> has been featured <%= pluralize(pick.featured_count, "time") %>.
  <% if pick.feature_on %>It would be great to specifically feature it on <%= pick.feature_on.strftime('%d/%m/%Y') %><% end %>
  </div>
</div>
<div style="clear; both;"/>
