<% content_for :page_title, "Plaque picks" %>
<div class="panel clearfix">
  <h1>Plaque Picks</h1>
  
  <% if @picks.size > 0 %>
    <h2>To feature on any day</h2>
    <% @picks.reject{|pick| pick.feature_on != nil}.each do |pick| %>
      <div style="float: left;"><%= link_to thumbnail_img(pick), pick_path(pick) %></div> 
      <div><%= link_to(pick.plaque.title, pick_path(pick)) %> "<%= pick.description %>" proposed by <%= pick.proposer %> has been featured <%= pluralize(pick.featured_count, "time") %>.
      </div>
      <div style="clear: left;"/>
    <% end %>
    <h2>To feature (only) on a specific date</h2>
    <% @picks.reject{|pick| pick.feature_on == nil}.sort_by{|pick| pick[:feature_on]}.each do |pick| %>
      <div style="float: left;"><%= link_to thumbnail_img(pick), pick_path(pick) %></div> 
      <div><%= link_to(pick.plaque.title, pick_path(pick)) %> "<%= pick.description %>" proposed by <%= pick.proposer %> has been featured <%= pluralize(pick.featured_count, "time") %>.
      It would be great to specifically feature it on <%= pick.feature_on.strftime('%d/%m/%Y') %>
      </div>
      <div style="clear: left;"/>
    <% end %>
  <% else %>
    <p>There aren't any yet.</p>
  <% end %>

  <%= button_to("New pick", new_pick_path, {:method => :get, :class => :button}) %>
</div>
<div class="panel clearfix"/>