<% content_for :page_title, "Plaque picks" %>
<div class="panel">
  <h1>Plaque Picks</h1>
  
  <% if @picks.size > 0 %>
    <p>Here are our top picks:</p>
    <% @picks.each do |pick| %>
      <div style="float: left;"><%= link_to thumbnail_img(pick), pick_path(pick) %></div> 
      <div><%= link_to(pick.plaque.title, pick_path(pick)) %> "<%= pick.description %>" proposed by <%= pick.proposer %> has been featured <%= pluralize(pick.featured_count, "time") %>.
      <% if pick.feature_on %>It would be great to feature it on <%= pick.feature_on.strftime('%m/%d/%Y') %><% end %>
      </div>
      <div style="clear: left;"/>
    <% end %>
  <% else %>
    <p>There aren't any yet.</p>
  <% end %>

  <%= button_to("New pick", new_pick_path, {:method => :get, :class => :button}) if current_user %>
</div>