<% content_for :page_title, "Plaques commemorating " + @role.name.pluralize %>

<div class="panel">
  <h1>Plaques commemorating <%= @role.name.pluralize %></h1>

  <% @role.people.each do |person| %>
    <div class="person">
      <h2><%= link_to person.name, person %> <%= dates(person) %> </h2>
      <p><%= link_to pluralize(person.plaques.size, "plaque"), person %> in <%= list_of_area_links(person.areas) %></p>
    </div>
  <% end%>
  
  <% if @role.people.size == 0 %>
    <h2>None</h2>
    <p>There are no plaques mentioning this role.</p>
  <% end %>

</div>

<% if @related_roles.size > 0 %>
  <div class="panel">
    <h2>Related Roles</h2>
    <% for related_role in @related_roles %>
      <div class="role">
        <h3><%= link_to related_role.name, role_path(related_role) %></h3>
        <% for person in related_role.people %>
	  <div class="person">
            <p><%= dated_person(person) %></p>
	  </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>