<% content_for :page_title, "Plaques commemorating " + @role.name.pluralize %>

<div class="panel clearfix">
  <h1>Commemorated <%= @role.name.pluralize %></h1>
</div>

<ol class="results" id="people_results">
  <% @role.people.each do |person| %>
    <li class="vcard person"  typeof="<%= if (person.person?) then "foaf:Person" else "foaf:Agent" end %> vcard:VCard" about="#person">
      <p class="result"><%= dated_person(person) %></p>
      <p class="count"><%= link_to pluralize(person.plaques.size, "plaque"), person %> in <%= list_of_area_links(person.areas) %></p>
    </li>
  <% end%>
  
  <% if @role.people.size == 0 %>
    <li>
      <p class="result">None</p>
      <p class="count">There are no plaques mentioning this role.</p>
    </li>
  <% end %>
</ol>

<% if @related_roles.size > 0 %>
  <div class="panel clearfix">
    <h2>Related Roles</h2>
  </div>
  <ol class="results" id="people_results">
    <% for related_role in @related_roles %>
      <li class="role">
        <p class="result"><%= link_to related_role.name, role_path(related_role) %></p>
        <p class="count">
          <% for person in related_role.people %>
            <div class="vcard person" typeof="<%= if (person.person?) then "foaf:Person" else "foaf:Agent" end %> vcard:VCard" about="#person">
              <%= dated_person(person) %>
            </div>
          <% end %>
        </p>
      </li>
    <% end %>
  </ol>
<% end %>