<% content_for :page_title, "Edit " + @photo.title %>

<div class="panel">
  <h1>Edit details of <%= link_to @photo.title, @photo %></h1>

  <%= form_for @photo do |f| %>
    <p><%= link_to(image_tag(@photo.file_url), @photo.url) %></p>
	  <br/>
    <p><%= f.label :of_a_plaque, "This is a photo of a plaque" %> <%= f.check_box :of_a_plaque %></p>
    <p><%= f.label :url %> <%= f.text_field :url, :maxlength => "100" %><%= link_to(@photo.url, @photo.url) %></p>
    <p><%= f.label :file_url %> <%= f.text_field :file_url, :maxlength => "100" %></p>
    <p><%= thumbnail_img(@photo) %></p>
	  <p>thumbnail_url <%= @photo.thumbnail_url %></p>
    <%= content_tag("p", "Taken on " + @photo.taken_at.to_s(:long)) unless @photo.taken_at.blank? %>
    <p><%= f.label :photographer %> <%= f.text_field :photographer %> <%= content_tag("span", link_to(@photo.photographer, photographer_url(@photo.photographer.gsub(".","_").gsub("/","_")))) if @photo.photographer %></p>
    <p><%= f.label :photographer_url %> <%= f.text_field :photographer_url, :size => 80 %></p>
    <p>The image was licenced by its copyright owner under an <%= f.collection_select :licence_id, @licences, :id, :name, {:include_blank => true} %></p>
    <p>It depicts plaque number <%= f.text_field :plaque_id, :maxlength => "5" %> <%= link_to(@photo.plaque.title, @photo.plaque) if @photo.plaque %>
    <p>This is a <%= f.collection_select :shot, Photo.shots, :to_s, :to_s, :include_blank => true %> shot</p>

    <%= f.submit "Save", :class => "button" %>
  <% end %>
</div>
<div class="panel">
  <%= button_to("Delete", photo_path(@photo), {:method => :delete, :class => :button}) if current_user.try(:is_admin?) %>
</div>