<% content_for :page_title, "Photos" %>

<div class="panel">

  <h1>Photos</h1>

  <p>To identify the location, inscription, <%= link_to "colour", colours_path %>
  and <%= link_to "organisation", photos_path %> of a plaque Open Plaques collates data
  from either <a href="http://flickr.com/">Flickr</a> photos or a Wikimedia Commons images. Read the page on how to contribute for details.</p>

  <%= will_paginate @plaques %>

  <% @photos.each do |photo| %>
    <div style="float: left;">
      <%= link_to(thumbnail_img(photo), photo) %>
    </div>
  <% end %>
  <br style="clear: left;"/>
</div>

<p class="alternate_formats">Data about photos as <%= alternate_link_to "XML", photos_path(:xml), :xml %> <%= alternate_link_to "JSON", photos_path(:json), :json %></p>