<% @page_title = "Photos" %>
<h1>Photos</h1>

<p>To identify the location, inscription, <%= link_to "colour", colours_path %>
and <%= link_to "organisation", organisations_path %> of a plaque Open Plaques collates data
 from a <a href="http://flickr.com/">Flickr</a> photo which has a Creative Commons <%= link_to "licence", licences_path %>
and has been tagged with an openplaques machine tag.
We need you to hunt down any that don't have photographs, take a picture, post it to Flickr, accurately place
it on your Flickr map, give it one of the forms of Creative Commons licence, tag it with the openplaques id and
add it to <a href="http://www.flickr.com/groups/openplaques/">our Flickr group</a>.</p>
<p><%= pluralize(@photos.size,"photo") %> taken by <%=@photographer_count %> <%= link_to "photographers", photographers_path %></p>

<% content_tag("ul", :class => "photographer_photos") do %>
  <% @photos.each do |photo| %>
    <% content_tag("li") do %>
      <%= link_to(image_tag(photo.file_url), photo) %>
    <%= link_to(photo.photographer, "photographers/" + photo.photographer)  %>
    <% end %>
  <% end %>
<% end %>