<% content_for :page_title, @photo.title %>

<% if current_user && current_user.is_admin? %>
  <section class="admin_panel">
    <%= link_to("Edit this photo", edit_photo_path(@photo), {:class => :edit, :title => "Edit this photo"})%>
  </section>
<% end %>

<div class="panel">
  <h1><%= @photo.title %></h1>

  <%= content_tag("p", link_to(image_tag(@photo.file_url), @photo.url)) if @photo.file_url %>
  <p>
    <% if @photo.plaque %>
      This is a <%= @photo.shot_name %> <%= link_to @photo.title, @photo.plaque %>. 
    <% else %>
      This <%= @photo.shot_name %> photo has not been linked to a plaque <% if @photo.of_a_plaque? %>yet<% else %> because it has been flagged as not being of a plaque<% end %>.
    <% end %>
    taken <%= content_tag("span", " on " + @photo.taken_at.to_s(:long)) unless @photo.taken_at.blank? %>
    by <%= link_to @photo.photographer, photographer_url(@photo.photographer.gsub(".","_").gsub("/","_")) if @photo.photographer rescue @photo.photographer %> and licenced under a <%= link_to @photo.licence.name, @photo.licence if @photo.licence %>.</p>

  <p>Photo url <%= link_to(@photo.file_url, @photo.file_url) %><p>

  <p><%= thumbnail_img(@photo) %></p>
  <p>Thumbnail url <%= link_to(@photo.thumbnail_url, @photo.thumbnail_url) %><p>
	
  <p>This may be about <%= @photo.subject %></p>
  <p>More details are: <%= @photo.description %></p>

</div>

<p class="alternate_formats">Data about this photo as <%= alternate_link_to "XML", photo_path(@photo, :format => :xml), :xml %> <%= alternate_link_to "JSON", photo_path(@photo, :format => :json), :json %></p>