<% content_for :page_title, "Historical plaques - by country" %>

<div class="panel clearfix">
  <h1>Plaques - by country</h1>
</div>

<%= content_tag("ol", :id => "places_results", :class => "results one_destination_results") do %>
  <% @countries.each do |country| %>
    <%= content_tag("li") do %>
      <%= link_to country do %>
          <p class="result"><%= country.name %></p>
          <p class="count"><%= pluralize(country.plaques.size, "plaque") %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag("p", link_to("Add country", new_country_path)) if current_user %>