<div class="panel clearfix">
	<h1>Countries</h1>
</div>

<%= content_tag("ol", :class => "search_results") do %>
	<% @countries.each do |country| %>
		<%= content_tag("li") do %>
			<p><%= link_to country.name, country %></p>
      	<p class="count"><%= pluralize(country.plaques.size, "plaque") %></p>
      <% end %>
	<% end %>
<% end %>

<%= content_tag("p", link_to("Add country", new_country_path)) if current_user %>