<% @page_title = "Rename '" + @colour.name + "'" %>
<% content_for :page_title, @page_title %>
<h1><%= @page_title %></h1>

<%= form_for @colour, :url => colour_path(@colour) do |colour| %>
	<%= colour.label :name, "Name" %>
	<%= colour.text_field :name %>

	<div>
		<%= colour.label :slug, "URL slug (lowercase and underscores only)" %>
		<%= colour.text_field :slug %>
	</div>

	<p>
		<%= colour.label :dbpedia_uri %>
		<%= colour.text_field :dbpedia_uri %>
	</p>	
	
	<%= colour.label :common, "Common colour?" %>
	<%= colour.check_box :common %>
	
	
	<%= colour.submit "Save" %>
<% end %>