<% content_for :page_title, "Historical plaques - by colour" %>

<div class="panel">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to("Add new colour", new_colour_path(), {:class => :edit, :title => "Add new colour"}) %>
    </section>
  <% end %>
  
  <h1>Colours</h1>

  <canvas id="myCanvas" width="600" height="650">
	<ul>
      <% @colours.each do |colour| %>
        <li><%= colour %> - <%= pluralize(colour.plaques.size, "plaque") %></li>
      <% end %>
    </ul>
  </canvas>
</div>

<script>
    window.onload = function ()
    {
        var data = [<% @colours.sort{|a,b| b.plaques.size <=> a.plaques.size}.each do |colour| %><%= colour.plaques.size %>,<% end %>];
        var hbar = new RGraph.HBar('myCanvas', data);
        hbar.Set('chart.labels', [<% @colours.sort{|a,b| b.plaques.size <=> a.plaques.size}.each do |colour| %>'<%= colour %>',<% end %>]);
        hbar.Set('chart.colors', [<% @colours.sort{|a,b| b.plaques.size <=> a.plaques.size}.each do |colour| %>'<%= colour %>',<% end %>]);

        hbar.Set('chart.strokestyle', 'rgba(0,0,0,0)');
        hbar.Set('chart.labels.above', true);
        hbar.Set('chart.labels.above', true);
        hbar.Set('chart.vmargin', 15);
        hbar.Set('chart.background.grid', false);
        
        hbar.Set('chart.colors.sequential', true);

        hbar.Set('chart.xlabels', false);
        hbar.Set('chart.gutter.left', 100);
        hbar.Set('chart.gutter.right', 50);
        hbar.Set('chart.gutter.top', 25);

		hbar.Set('chart.noxaxis', true);
		hbar.Set('chart.noxtickmarks', true);
		hbar.Set('chart.noytickmarks', true);
        RGraph.isOld() ? hbar.Draw() : RGraph.Effects.HBar.Grow(hbar);
    }
</script>