<% content_for :page_title, "Editing " + @person.name %>

<div class="panel">
  <h1>What year was <%= link_to @person.name, @person %> <%= @person.creation_word %>?</h1>
  <% if url_for(:only_path => false).include?('microtask') %>
    <p><%= button_to "Not sure. Give me another one", todo_path('microtask'), :method => :get, :class => :button %></p>
  <% end %>
  <br/>
  <p><%= @person.name %> features on plaques...
    <% @person.plaques.each do |plaque| %>
      <%= render 'plaques/plaque_minimal', :plaque => plaque %>
    <% end %>
  </p>
  <p><a href="<%= @person.wikipedia_url %>"><%= @person.wikipedia_url %></a><br/>
  "<%= wikipedia_summary(@person.wikipedia_url) %>"</p>
      
  <%= form_for @person do |f| %>
    <p><%= f.label :born_on, "Born" %> <%= text_field_tag :born_on, @born_on, {:maxlength => "4"} %> <%= f.label :died_on, "Died" %> <%= text_field_tag :died_on, @died_on, {:maxlength => "4"} %></p>
    <p><%= f.submit "Update", :class => :button %></p>
  <% end %>
</div>