<% content_for :page_title, "To do lists" %>

<div class="panel">
  <h1>To do lists</h1>
  <ul id="homepage_modules">
    <li><%= link_to(pluralize(@lists_to_datacapture, "list") +  " with plaques to be datacaptured", todo_path('lists_to_datacapture')) %></li>
    <li><%= link_to(pluralize(@photographed_not_coloured_plaques_count, "plaque") +  " with photos but no colour identified", todo_path('colours_from_photos')) %></li>
    <li><%= link_to(pluralize(@geo_no_location_plaques_count, "geolocated plaque") +  " with no location name assigned", todo_path('locations_from_geolocations')) %></li>
    <li><%= link_to(pluralize(@location_no_area_plaques_count.to_i, "location") +  " with no area", todo_path('areas_from_locations')) %></li>
    <li><%= link_to(pluralize(@plaques_to_add_count, "plaque") +  " to add from external sources", todo_path('plaques_to_add')) %></li>
    <% # <li><%= link_to(pluralize(@detailed_address_no_geo_count, "plaque") +  " with detailed location but no latitude / longitude", todo_path('detailed_address_no_geo')) </li> %>
    <li><%= link_to(pluralize(@no_connection_count, "plaque") +  " with no connections", todo_path('no_connection')) %></li>
    <li><%= link_to(pluralize(@partial_inscription_photo_count, "plaque") +  " with photos needing full inscription" , todo_path('partial_inscription_photo')) %></li>
    <li><%= link_to(pluralize(@partial_inscription_count, "plaque") +  " needing full inscription" , todo_path('partial_inscription')) %></li>
    <li><%= link_to(pluralize(@no_roles_count, "people") +  " needing roles" , todo_path('no_roles')) %></li>
    <li><%= link_to(pluralize(@needs_geolocating_count, "plaque") +  " need geolocating", todo_path('needs_geolocating')) %></li>
    <li><%= link_to(pluralize(@no_description_count, "plaque") +  " have no description", todo_path('needs_description')) %></li>
    <li><%= link_to(pluralize(@unassigned_photo_count, "photos") +  " aren't linked to a plaque", todo_path('unassigned_photo')) %></li>
    <li><%= link_to(pluralize(@unphotographed_plaque_count, "plaques") +  " don't have a photo", todo_path('unphotographed')) %></li>
  </ul>
</div>