<h1>Add a todo</h1>

<%= form_for @todo, :url => todo_path('create') do |f| -%>
  <p><%= f.label :action %><br/>
  <%= f.text_field :action %></p>
  <p><%= f.label :description %><br/>
  <%= f.text_field :description %></p>
  <p><%= f.label :url %><br/>
  <%= f.text_field :url %></p>
  <p><%= f.submit "Add" %></p>
<% end %>
