<% content_for :page_title, "Add a list to be datacaptured" %>

<h1>Add a todo</h1>

<%= form_for :todo, @todo, :url => { :action => "create" } do |f| -%>
  <p><%= f.label :action %><br/>
  <%= f.text_field :action %></p>
  <p><%= f.label :description %><br/>
  <%= f.text_field :description %></p>
  <p><%= f.label :url %><br/>
  <%= f.text_field :url %></p>
  <p><%= f.submit "Add" %></p>
<% end %>
