<% content_for :page_title, "Blue plaques for people who " + @verb.name %>

<div class="panel">
  <h1><%= pluralize @verb.personal_connections.count, 'person' %> '<%= @verb.name %>'</h1>
  <%= render @verb.personal_connections %>
</div>

<p class="alternate_formats">Data about this verb as <%= alternate_link_to "XML", verb_path(@verb, :format => :xml), :xml %> <%= alternate_link_to "JSON", verb_path(@verb, :format => :json), :json %></p>