<% content_for :page_title, "Photos of the " + @plaque.title %>

<div class="panel">
  <h1>Photos of the <%= @plaque.title %></h1>

  <p>We currently link to <%= pluralize_with_no(@plaque.photos.size.to_s,"photo") %> of the <%= @plaque.title %>.</p>
  <p>To identify the location, inscription, colour and organisation of a plaque Open Plaques 
  collates data from <a href="http://www.flickr.com/search/?q=<%= @plaque.machine_tag %>">Flickr photos tagged with an machine tag of <i><%= @plaque.machine_tag %></i></a>.</p>
  <%= content_tag("ul", :class => "photographer_photos") do %>
    <% @plaque.photos.each do |photo| %>
	  <li>
        <% if current_user && current_user.is_admin? %>
          <section class="admin_panel">
	        <%= link_to("Edit", edit_photo_path(photo), {:class => :edit, :title => "edit photo"}) %>
          </section>
        <% end %>
	    <%= content_tag("p", link_to(image_tag(photo.file_url), photo.url)) %>
	    <p>This <%= photo.shot_name %> photo was taken
	      <%= content_tag("span", " on " + photo.taken_at.to_s(:long)) unless photo.taken_at.blank? %>
	      by <%= link_to photo.photographer, photographer_url(photo.photographer) if photo.photographer %>.
	      The image was licenced by its copyright owner under a <%= link_to photo.licence.name, photo.licence %>.
	    </p>
      </li>
    <% end %>
  <% end %>
</div>