<% content_for :page_title, "Photos of the " + @plaque.title %>

<div class="panel clearfix">
  <h1>Photos of the <%= link_to(@plaque.title, @plaque) %></h1>

  <p>We currently link to <%= pluralize_with_no(@plaque.photos.size.to_s,"photo") %> of this plaque.</p>
  <br/>
  <%= content_tag("ul", :class => "photographer_photos") do %>
    <% @plaque.photos.each do |photo| %>
	    <ol>
        <% if current_user && current_user.is_admin? %>
          <section class="admin_panel">
            <%= link_to("Edit", edit_photo_path(photo), {:class => :edit, :title => "edit photo"}) %>
          </section>
        <% end %>
	      <%= content_tag("p", link_to(thumbnail_img(photo), photo.url)) %>
	      <p>This <%= photo.shot_name %> photo was taken
	      <%= content_tag("span", " on " + photo.taken_at.to_s(:long)) unless photo.taken_at.blank? %>
	      by <%= link_to photo.photographer, photographer_url(photo.photographer) if photo.photographer %>.
	      The image was licenced by its copyright owner under a <%= link_to photo.licence.name, photo.licence %>.
	      </p>
      </ol>
    <% end %>
  <% end %>
</div>

<div class="panel clearfix">
  <p>To identify the location, inscription, colour and organisation of a plaque Open Plaques 
  automatically collates data from Flickr.
  To add your photo, publish it on Flickr with a Creative Commons licence and tag it: <i><%= @plaque.machine_tag %></i></p>
  <br/>
  <p>For your photos to come through to Open Plaques they should appear in the search of <a href="http://www.flickr.com/search/?q=<%= @plaque.machine_tag %>&l=cc">Flickr photos tagged with an machine tag of <i><%= @plaque.machine_tag %></i> with a Creative Commons licence</a>.
  If they don't appear in this list: check the licence; and check that you haven't excluded your content from Flickr search (On Flickr, go to your profile by clicking your username in top right hand corner, do you have "Hide your stuff from public searches" set to "no"?).
  If you have a brand new Flickr account you might not be included in their search immediately. Sometimes it waits until you have posted 5+ images.
  </p>
  <br/>
  <p>
    If you want to hurry the Open Plaques along, just for this plaque, you can <%= button_to "give the automatic search a kick", :controller => :plaques, :action => :flickr_search, :id => @plaque, :class => "button" %>
  </p>
</div>

