<% content_for :page_title, "Photos of the " + @plaque.title %>

<div class="panel clearfix">
  <section id="photos" class="inside_panel">
    <h2>Photos of the <%= link_to(@plaque.title, @plaque) %></h2>
    <% if @plaque.photos.size < 1 %>
      <p>We don't have a photo of this plaque yet. You could be the first!</p>
    <% else %>
      <p>We can display multiple photos of each plaque, so you don&apos;t have to be the first.<p>
    <% end %>
    <p>We like close-ups as well as long-shots of the building that set the scene. The closest shot will be displayed as the primary image.</p>
    <%= content_tag("ul", :class => "photographer_photos clearfix") do %>
      <% @plaque.photos.detail_order.each_with_index do |photo, i| %>
        <li <% if i==0 %>class="primary"<% end %>>
          <% if current_user && current_user.is_admin? %>
            <section class="admin_panel">
              <%= link_to("Edit", edit_photo_path(photo), {:class => :edit, :title => "edit photo"}) %>
            </section>
          <% end %>
          <%= link_to(thumbnail_img(photo), photo.url, :class => 'photographer_thumb') %>
          <span>This <%= photo.shot_name %> was taken by <%= link_to photo.photographer, photographer_url(photo.photographer.gsub(".","_").gsub("/","_")) if photo.photographer rescue photo.photographer %></span><br/>
          <%= form_for photo do |f| %>
            <p>This is a <%= f.collection_select :shot, Photo.shots, :to_s, :to_s, :include_blank => true %> shot</p>
            <%= f.submit "Save", :class => "button" %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </section>

  <section id="where_do_they_come_from" class="inside_panel">
	<h2>Where do all these photos come from?</h2>
    <p>We don&apos;t store photos on Open Plaques, instead we link to stable, open sources namely Flickr and Wikimedia Commons.
	We connect and add context to existing resources on the web instead of trying to own it all ourselves.
    All the images are from Creative Commons Licenced sources and as such we attribute them to the copyright holder.</p>
  </section>
  
  <section id="how_to_add_photo" class="inside_panel">
    <h2>How to add your photo</h2>
    <ol><li>put it on <a href="http://www.flickr.com/" target="new">Flickr</a> (for free)</li>
    <li>give it a Creative Commons licence</li>
    <li>tag it <strong><%= @plaque.machine_tag %></strong></li>
    <li>add it to <a href="http://www.flickr.com/groups/openplaques/" target="new">our Flickr group</a></li>
    <li>wait 5 minutes</li>
    <li>it should now appear in the Flickr search of <a href="http://www.flickr.com/search/?q=<%= @plaque.machine_tag %>&m=machinetags&l=cc&content_type=1" target="new">photos tagged '<%= @plaque.machine_tag %>'</a></li>
    <li>wait for 24 hours and our servers should automatically find it and display it on our site</li>
    </ol>   
  </section>

  <section id="troubleshooting_photos" class="inside_panel">
    <h2>I did that, but my photo hasn&apos;t appeared!</h2>
    <p>Paste the url of the photo here and we will try to sort it out <%= form_tag("/photographers", :method => "create") do %>
      <%= label_tag(:flickr_url, "Flickr photo url:") %>
      <%= text_field_tag(:flickr_url) %>
      <%= submit_tag("Search", :class=>'button secondary_button') %>
    <% end %></p>
  </section>

  <section id="troubleshooting_photos2" class="inside_panel">
    <h2>Nope, still not working</h2>
    <ol><li>still not there? Does your photo appear in the Flickr search of <a href="http://www.flickr.com/search/?q=<%= @plaque.machine_tag %>&m=machinetags&l=cc&content_type=1" target="new">photos tagged '<%= @plaque.machine_tag %>'</a>?</li>
    <li>if not, check that the licence is Creative Commons, i.e. it shouldn&apos;t say "All Rights Reserved"</li>
    <li>also, ensure that you haven&apos;t ticked the &apos;hidden from search&apos; setting. (On Flickr, go to your profile by clicking your username in top right hand corner, do you have "Hide your stuff from public searches" set to "no"?)</li>
    <li>a brand new Flickr account might not be included in their search immediately. Sometimes it waits until you have posted 5+ images. Enter your photo&apos;s url into the box below and we'll see what we can do...</li>
    <li>you can try <%= button_to "giving the automatic search a kick", :controller => :plaques, :action => :flickr_search, :id => @plaque, :class => "button secondary_button" %></li></ol>
  </section>
  
  <section id="help_photos" class="inside_panel">
    <h2>Help, I really don&apos;t understand!</h2>
    <p>If this all proves too complicated, then have a chat with us via email. We are generally rather nice and want to help. You can <a href="http://openplaques.org/contact">email your photo</a> to us stating that you are happy for us to publish it as open data on your behalf and that you grant anyone in the world the right to re-use the image.</p>    
  </section>

</div>

