<% content_for :page_title, "Photos of the " + @plaque.title %>

<div class="panel">
  <h1>Photos of the <%= @plaque.title %></h1>

  <p>We currently link to <%= pluralize_with_no(@plaque.photos.size.to_s,"photo") %> of the <%= @plaque.title %>. To identify the location, inscription, <%= link_to "colour", colours_path %> and <%= link_to "organisation", organisations_path %> of a plaque Open Plaques collates data from a <a href="http://flickr.com/">Flickr</a> photo which has a Creative Commons <%= link_to "licence", licences_path %> and has been tagged with an machine tag of <i><%= @plaque.machine_tag %></i>.
We need you to hunt down any that don't have photographs, take a picture, post it to Flickr, accurately place it on your Flickr map, give it one of the forms of Creative Commons licence, tag it with the openplaques id and add it to <a href="http://www.flickr.com/groups/openplaques/">our Flickr group</a>.</p>

  <%= content_tag("ul", :class => "photographer_photos") do %>
    <% @plaque.photos.each do |photo| %>
	  <li>
	    <%= link_to("Edit", edit_photo_path(photo), {:class => :edit, :title => "edit photo"}) if current_user %>
	    <%= content_tag("p", link_to(image_tag(photo.file_url), photo.url)) %>
	    <p>Photo page <%= link_to(photo.url, photo.url) %><p>
	    <p>Photo url <%= link_to(photo.file_url, photo.file_url) %><p>
	    <p>This <%= photo.shot_name %> photo was taken
	      <%= content_tag("span", " on " + photo.taken_at.to_s(:long)) unless photo.taken_at.blank? %>
	      by <%= link_to photo.photographer, photographer_url(photo.photographer) if photo.photographer %>.
	      The image was licenced by its copyright owner under a <%= link_to photo.licence.name, photo.licence %>.
	    </p>

      <%= button_to("Delete", photo_path(photo), {:method => :delete, :class => :button}) if current_user.try(:is_admin?) %>
      </li>
    <% end %>
  <% end %>
</div>