<article class="panel">
  <header>
    <h1>Open Plaques stats</h1>
  </header>

  <div class="stats">
    <div>
      <span class="figure"><%= @plaques_count %></span>
      <span class="description">Total plaques</span>
    </div>
    <div>
      <span class="figure"><%= @people_count %></span>
      <span class="description">People mentioned</span>
    </div>
    <div>
      <span class="figure"><%= @organisations_count %></span>
      <span class="description">Organisations</span>
    </div>    
    <div>
      <span class="figure"><%= @countries_count %></span>
      <span class="description">Countries</span>
    </div>
    <div>
      <span class="figure"><%= @places_count %></span>
      <span class="description">Cities and towns</span>
    </div>
    <div>
      <span class="figure"><%= @photos_count %></span>
      <span class="description">Photos</span>
    </div>
    <div>
      <span class="figure"><%= @users_count %></span>
      <span class="description">Contributors</span>
    </div>
    <div>
      <span class="figure"><%= @languages_count %></span>
      <span class="description">Languages</span>
    </div>

  </div>

</article>