<% @page_title = "Edit " + @location.name %>
<h1>Edit <%= link_to @location.name, @location %></h1>

<%= form_for(@location) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <% if @areas.size > 0 %>
  <p>
    <%= f.label :area_id, "Area" %>
    <%= f.collection_select :area_id, @areas, :id, :name, {:include_blank => true} %>

    New area in:
    <% @countries.each do |@country| %>
      <%= link_to(@country.name, "/places/" + @country.alpha2 + "/areas/new") %>
    <% end %>
  </p>
  <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= button_to "Delete", location_path(@location), {:method => :delete, :class => :delete} if current_user.try(:is_admin?) %>